#logo img{
    position:absolute;
    width: auto;
    top: 300px;
    left: 800px;
}

#searchbox {
    position:absolute;
    background-color: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height:44px;
    width: 560px;
    top:420px;
    left:650px;
}

#input form{
    position:relative;
    top: 0px;
    left:50px;
}
input{
    border:0px;
    outline: none;
}

#searchicon{
    position:absolute;
    left:22px;
    bottom:7px;
}